<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215018664993-tdj3vcs17sroq51qotseafro9bsj6b9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215018664993-tdj3vcs17sroq51qotseafro9bsj6b9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ67BC3F1Nc30mjQxX-lT6E2MCD3RdSOs</string>
	<key>GCM_SENDER_ID</key>
	<string>215018664993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amara.lazynat</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-434f8</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-434f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215018664993:ios:a58d7d630d40d02b411f60</string>
</dict>
</plist>